.tables{
    display: flex;
    margin-top: 20px;
    color:rgb(61, 58, 58);
    
}
.tables h3{
    margin-left: 15px;
    color:rgb(70, 67, 67);
    
    
}
 table {
    margin-left: 10px;
    border: 1px solid rgb(224, 220, 220);
    border-collapse: collapse;
    height:240px;
    width: 400px;
    
    
      
}
tr{
    border: 1px solid rgb(224, 220, 220);
    
    
}
 
 

 
table tr  .gray{
    background-color: rgba(208, 213, 218, 0.484);
    height: 30px;
    width: 20px;
    
    
}
.tables th{
    background-color: rgba(208, 213, 218, 0.484);
    font-size: 14px;
    padding-left: 20px;
    
}
.tables .header1{
    border-bottom: 1px solid skyblue;
    
}
 td {
    padding-left: 20px;
    font-size: 14px;
   font-weight: 600;
   color: rgb(105, 102, 102);
    
}
#the-header{
    padding-right: 620px;
}
 
.scroll{
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
/*table2*/

.tables1{
    display:flex;
    margin-top: 10px;
    margin-left: 42px;
}
.table-container1{
    height: 203px;
    width: 743px;
}
.table-container1 tr  {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 200;
    color: rgb(61, 58, 58);
    background-color: rgba(208, 213, 218, 0.484) ;
    padding: 8px;
    
    
}
.table-container1 h3{
    color:rgb(70, 67, 67);
}


.the-heder{
    margin-left: -30px;
}
.over-edit .th1 {
    padding-left: 70px;
  
}
.scroll1{
    
    overflow-y: scroll;
    overflow-x: hidden;
}
 
.the-header1{
    border-bottom: 1px solid skyblue;
}
tr .gray1{
    padding: 10px;
    border: none;
    
}
@media(max-width:1080px){
    .tables{
        display: block;
        margin-right: 55px;
        align-items: center;
        justify-content: center;
        margin-top: 450px;
        margin-left: 45px;
        
        
        
    }
    .tables1{
        display: block;
        width: 100%;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 45px;
    }
    .tables h3{
        text-align: center;
        margin-right: 10px;
        
    }
    .tables1 h3{
        text-align: center;
        margin-left: -100px;
    }
    .scroll1{
        margin-right: 100px;
        overflow-x: scroll;
    }
}
