*{
    margin:0px;
    padding: 0px;
    
}
.h3{
    font-size: 15px;
    color:rgb(54, 51, 51);
    padding-bottom: 2px;
    margin-left: 9px;
    margin-right: 9px;
    padding: 5px;
    border-bottom: 1px solid rgb(224, 220, 220);
}
@media (max-width:1080px){
    .h3{
        display:flex;
        align-items: center;
        justify-content: center;
    }

}